<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SayHiApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D527D7E61BD41F3A0091E634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D527D7FA1BD41F3A0091E634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D527D8051BD41F3A0091E634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
